# Git
alias g="git status"
alias gs="git show"
alias gc="git commit -am"
alias gcam="git commit --amend"
alias gb="git branch"
alias gcb="git checkout -b"
alias m="git checkout master"
alias d="git checkout develop"
alias de="git checkout development"
alias gmd="git merge develop"
alias gmde="git merge development"
alias gl="git log"
alias gll="git log -1"
alias ga="git add"
alias gp="git push"
alias gpl="git pull"
alias gt="git tag"
alias gd="git diff"
alias gdc="git diff --cached"
